.header {
  width: 100%;
  min-height: 674px;
  padding-top: 49px;
  background-color: #241449;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.header__wrap {
  .wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 5px;
}

@media (max-width: 769px) {
  .logo {
    order: 1;
  }
  
  .contacts {
    order: 2;
  }
  
  .menu {
    order: 3;
  }
  
  .header {
    padding-top: 20px;
  }
}

@media (max-width: 480px) {
  .header__wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}