.header {
  width: 100%;
  min-height: 674px;
  padding-top: 49px;
  position: relative;
  background-color: #241449;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.header__wrap {
  .wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 5px;
}
