.title {
  .wrap;
  margin-top: 155px;
  padding: 0 85px;
}

.title__main {
  font-size: 90px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 65px;
}

.title__sub {
  font-size: 23px;
  line-height: 50px;
  color: #fff;
  text-align: center;
}
